* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#lives {
    position: absolute;
    margin-left: 23%;
    color: white;
}

#moves {
    color: white;
    position: absolute;
    margin-left: 23%;
}

#timer {

}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0, auto;
    margin-top: 7.5%;
}

body {
    /* background-image: url('pictures/covidbackground.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    text-align: center;
    text-shadow: firebrick 2px -3px;
    font-size: 4rem;
    background-color: dimgray;
    border-bottom: 2px floralwhite;
}

.card-box {
    width: 40%;
}
