* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    width: 80%;
    margin-left: 10%;
}

.card {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: dimgray;
    margin: 40px 20px 20px 20px;
    cursor: pointer; 
    position: relative;
    transform: rotate3d();
    transition: ease;
    /* background-image: url('pictures/pangolin.jpg'); */
}

.card .front {
    display: none;
}

.card.active .front {
    display: block;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 3px black;
    box-sizing: border-box;
}

body {
    background-image: url('pictures/covidbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    text-align: center;
    text-shadow: firebrick 2px -3px;
    font-size: 4rem;
    background-color: dimgray;
    border-bottom: 2px floralwhite;
}
