* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#lives {
    position: absolute;
    margin-left: 23%;
    margin-top: -5%;
    padding: 10px;
    background-color: dimgray;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 54%;
    margin-left: 23%;
    margin-top: 7.5%;
}

/* .cards img {
    justify-content: space-evenly;
} */

/* .cards:hover img {
    box-shadow: inset 0px 0px 0px 3px black;
    box-sizing: border-box;
} */

body {
    background-image: url('pictures/covidbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    text-align: center;
    text-shadow: firebrick 2px -3px;
    font-size: 4rem;
    background-color: dimgray;
    border-bottom: 2px floralwhite;
}
